
 
 .recipe-thmbnl{
	display:inline;
	float:left;
	margin: 2vw;
	position: relative;
	text-align: center;
}

.recipe-thmbnl img{
	width: 15vw;
	height: 15vw;
	object-fit: cover;
	transition: transform .2s;
}

.recipe-thmbnl a:hover h2{
	display:block;
}

.recipe-thmbnl a:hover img{
	transform: scale(1.2);
	opacity: 0.5;
}

.recipe-thmbnl h2{
	display:none;
	width: 15vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: black;
	font-weight:600;
}

input[type=checkbox] {
    transform: scale(1.5);
}

#recipe-image{
	width:20vw;
	height:20vw;
	object-fit: contain;
}

#recipe-container{
	width:50%;
}

h1{
	font-size: 5vw !important;
}

h2{
	font-size: 2vw !important;
}

h3{
	font-size: 2vw !important;
}


#login-container{
	max-width: 400px;
}

#login-background{
	background-image: url("/images/login-background.jpg");
	background-size: cover;
	background-position: center;
}

.form-control{
	margin-bottom: 2vh;
}

#recipe-form-image{
	width: 20vw;
	height: 20vw;
	object-fit: cover;
}

.top-container{
	margin-top: 56px;
}

.remove-preparation{
	padding-top: 15px;
	padding-left: 10px;
}

.remove-ingredient{
	padding-top: 5px;
}

#add-recipe-link{
	display: flex;
 	align-items: center;
 	max-width: 10vw;
 	margin-bottom:2vw;
 	color:black;
}

#add-recipe-link i{
	color: #007BFF;
}

#add-recipe-link:hover{
	text-decoration: none;
}

.food-type-products{
	border-color:#80ced6; 
	border-style: solid; 
	border-radius:10px; 
	margin:10px 5px 0 5px; 
	background-color:#d5f4e6; 
	padding-bottom: 5px;
}

hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

.w-20{
	width:20%;
}

.remove-recipe{
  display: block;
  float: right;
  margin-left: 5px;
  text-align: center;
  vertical-align: top;
  font-style: normal;
  background-color: #eee;
  color: #888;
  width: 16px;
  height: 16px;
  cursor: pointer;
  font-size:100%;
}

#landing-cover{
	background-image: url("/images/fridge.jpg");
	height: 100vh;
	background-size: cover;
	background-position: left top;
}


#scroll-down-link{
	width: 100%;
	position: absolute; 
	bottom: 3%;
	text-align: center;
	-webkit-animation:bounce 1s infinite;
}

 @-webkit-keyframes bounce {
      0%       { bottom:5px; }
      25%, 75% { bottom:15px; }
      50%      { bottom:20px; }
      100%     {bottom: 2px;}
    }

#scroll-down-link img{
	width: 50px;
	fill:white;
}

html{
	scroll-behavior: smooth;
}

#landing-page-login{
	position: absolute; 
	margin-left:70vw;
	margin-top:30vh;
	background: rgba(255, 255, 255, 0.3);
	border-radius:10px; 
	padding: 10px;
	width: 20vw;
}

#landing-page-login span{
	font-size: 3vh;
	
}

#landing-page-login a:hover{
	font-weight: bold;
	text-decoration:none;
}

#landing-page-title{
	position: absolute; 
	margin-left:5vw;
	margin-top:4vh;
	color:white;
/* 	background: rgba(76, 175, 80, 0.3); */
	border-radius:10px; 
	padding:10px;
}
#landing-page-title h2{
	margin-top:5vh;
	line-height:15vh;
}
#reasonsToPlan{
	background-image:url("/images/notebook-croped-top.jpg");
	height:100vh;
	background-size: contain;
	background-position: center;
}

#reasonsToPlan div{
	font-family: 'Caveat', cursive;
	position: absolute; 
	margin-left:32vw;
	margin-top:7vh;
	width: 20vw;
}

#reasonsToPlan div h2{
	font-weight: bold;
}

#reasonsToPlan div a h2{
	color:black;
}

#shopping-list-container{
	background-image: url("/images/shopping-list-bg.jpg");
	background-size: contain;
	padding-left:3vw;
	padding-right:3vw;
	font-family: 'Amatic SC', cursive;
	font-weight: 700;
	font-size: 1.2vw;
	min-height: 500px;
}

#shopping-list-container h3{
	font-size: 3vw !important;
}

#plan-side-container{
	padding:0;
	 -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    
}

#plan{
	width:80%;
}
#plan.list h2{
	font-family: 'Sacramento', cursive;
	font-weight:700;
	font-size:3vw !important;
}

#plan.list h4{
	font-family: 'Caveat', cursive;
}

#plan-container{
	background-image: linear-gradient(to left, #81b1ef , #E0E8F3);
}

#plan.table{
	margin-top:5vh;
	margin-left:auto;
	margin-right:auto;
	background-color:white;
}

#recipes-side-nav{
	background-image: linear-gradient(to right, #81b1ef , #F8F9FA);
	color: black;
}

.img-thmbnl{
	padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
	width: 10vw;
	height: 10vw;
	object-fit: cover;
}

.img-modal{
	padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
	width: 15vw;
	height: 15vw;
	object-fit: cover;
	margin-bottom:2vw;
}

#hide-meal-recipes-container-icon{
 	display: block;
	float: right;
	margin: 5px;
	text-align: center;
	vertical-align: top;
	font-style: normal;
	color: #888;
	width: 1.5vw;
	height: 1.5vw;
	cursor: pointer;
	font-size: 1.5vw;
}

#meal-recipes-container{
	overflow:hidden;
}

.icon-sm{
	height:1.5vw;
}

.icon-m{
	height:2vw;
}
